{% extends 'base.html' %}

{% block content %}
<div class="login-wrapper">
    <div class="login-box">
        <div class="logo-area">
            <h1>☠️</h1>
            <h2>Acceso Restringido</h2>
        </div>
        
        <form method="post">
            <div class="input-group">
                <label>Usuario de Base de Datos</label>
                <input type="text" name="usuario" placeholder="ej. head_coach" required>
            </div>
            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit" class="btn-login">Iniciar Sesión</button>
        </form>

        <div class="hint-box">
            <p><strong>Credenciales:</strong></p>
            <code>usuario: gerente_general//cont: 1975</code><br>
            <code>usuario: head_coach//cont: hola</code><br>
            <code>usuario:prensa_raiders//cont: profesor</code>
        </div>
    </div>
</div>
{% endblock %}